h1
{
    font-size:xx-large;
    text-align: center;
    color: white;
}

.mainContainer
{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerB
{
    width: 500px;
    height: auto;
    left: 50px;
}

.formu
{
    background-image: url(../IMG/Jinx.jpg);
    text-align: center;
    width: 500px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

Input[type="text"]
{
    border-radius: 5px;
}
Input[type="number"]
{
    border-radius: 5px;
}
Input[type="date"]
{
    border-radius: 5px;
}
Input[type="email"]
{
    border-radius: 5px;
}
button[type="submit"]
{
    border-radius: 5px;
}