h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: xxx-large;
    text-align: center;
    border-bottom: 4px solid black;
    color: rgb(16, 16, 204);
}

.MainContainer
{
    justify-content: center;
    display: block;
    background-color: white;
    padding: 20px;
    border: 4px solid black;
    margin-top: black;
    font-family: cursive;
    text-align: justify;

}

div img
{
    flex: 1;
    padding: 10px;
    float: left;
    width: 400px;
    height: auto;
}