h1
{
    text-align: center;
    font-size: large;
}

.GalleryContainer img
{
    width: 200px;
    height: 100px;
}

.GalleryContainer
{
display: grid;
gap: 20px;
max-width: 1200px;
margin: auto;
grid-template-columns: repeat(3,1fr);
align-items: start;
}

.GalleryFill img
{
    object-fit: fill;
}

.GalleryContain img
{
    object-fit: contain;
    background-color: red;
}

.GalleryCover img
{
    object-fit: cover;
}


.GalleryRedondo img
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-content: center;
}

.GalleryOpacity
{
    opacity: 0.5;
    justify-content: center;
}