h1
{
    text-align: center;
    font-size: large;
}

.GalleryContainer img
{
    width: 200px;
    height: 100px;
}

.GalleryContainer
{
display: grid;
gap: 20px;
justify-content: center;
max-width: 800px;
margin: auto;
grid-template-columns: repeat(3,1fr);
}

.GalleryFill img
{
    object-fit: fill;
}

.GalleryContain img
{
    object-fit: contain;
    background-color: red;
}

.GalleryCover img
{
    object-fit: cover;
}

.GalleryRedondo
{
}
.GalleryRedondo img
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.GalleryOpacity img
{

}