#divnOpa1
{
    background-color: red;
    opacity: 0.2;
    border: solid;
    margin: 20px;
    height: 40px;
}

#divnOpa2
{
    background-color: red;
    opacity: 0.3;
    border: solid;
    margin: 20px;
    height: 40px;
}

#divnOpa3
{
    background-color: red;
    opacity: 0.5;
    border: solid;
    margin: 20px;
    height: 40px;
}

#divnOpa4
{
    background-color: red;
    opacity: 1;
    border: solid;
    margin: 20px;
    height: 40px;
}